@import '../../../node_modules/react-keyed-file-browser/dist/react-keyed-file-browser.css';

.App {
    text-align: center;
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
